# Default ignored files
/shelf/
/.idea/workspace.xml

# Datasource local storage ignored files
/../../../../../../../:\Users\Crell\Documents\Repos\SortingAlgo\.idea/dataSources/
/dataSources.local.xml

# Editor-based HTTP Client requests
/httpRequests/

# IDE / Build
out
.idea
META-INF
SortingAlgo.iml
